<aside class="sidebar bg-light d-flex flex-column p-3 vh-100">
  <!-- Logo -->
  <div class="sidebar-logo">
    <img src="logo.png" alt="Logo" class="img-fluid" />
  </div>

  <!-- Navigation -->
  <nav class="nav flex-column">
    <!-- Agent Menu -->
    <li *ngIf="role === 'Agent'" class="nav-item">
      <a
        class="nav-link"
        routerLink="/agent/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Dashboard</a
      >
    </li>
    <li *ngIf="role === 'Agent'" class="nav-item">
      <a
        class="nav-link"
        routerLink="/agent/application-form"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Create New Project</a
      >
    </li>
    <li *ngIf="role === 'Agent'" class="nav-item">
      <a
        class="nav-link"
        routerLink="/agent/agent-feedbacks"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Feedbacks</a
      >
    </li>

    <!-- Supervisor Menu -->
    <li *ngIf="role === 'Supervisor'" class="nav-item">
      <a
        class="nav-link"
        routerLink="/supervisor/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Dashboard</a
      >
    </li>
    <li *ngIf="role === 'Supervisor'" class="nav-item">
      <a
        class="nav-link"
        routerLink="/supervisor/all-applications"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >All Applications</a
      >
    </li>
  </nav>
</aside>
