<div class="login-wrapper">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="login-form">
    <h2>Login</h2>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        name="email"
        ngModel
        required
        class="form-control"
        #emailCtrl="ngModel"
      />
      <div
        *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)"
        class="error"
      >
        Email is required
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        ngModel
        required
        class="form-control"
        #passwordCtrl="ngModel"
      />
      <div
        *ngIf="
          passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)
        "
        class="error"
      >
        Password is required
      </div>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <button
      type="submit"
      class="btn btn-success mt-10"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>
</div>
