@use "../variables" as vars;
@use "../base/mixins" as mixins;
@use "sass:list";

.btn {
  letter-spacing: vars.$letter-spacing;
  text-transform: uppercase;
}

// square modifications
.btn-square {
  padding: 0;
  line-height: calc(50px - var(--bs-border-width) * 2);
  height: 50px;
  width: 50px;
}

.btn-lg.btn-square {
  padding: 0;
  line-height: calc(60px - var(--bs-border-width) * 2);
  height: 60px;
  width: 60px;
}

.btn-sm.btn-square {
  padding: 0;
  line-height: calc(40px - var(--bs-border-width) * 2);
  height: 40px;
  width: 40px;
}

// color scheme - white primary
.btn-white-primary {
  background: vars.$white;
  color: vars.$primary;
  border-color: vars.$white;

  &:disabled,
  &.disabled {
    background: vars.$white;
    opacity: 1;
    color: rgba(vars.$primary, 0.2);
  }

  &:not(:disabled):not(.disabled) {
    &:hover,
    &:active,
    &:focus {
      background: transparent;
      border-color: vars.$white;
      color: vars.$white;
    }
  }
}

// color scheme - light
.btn-light {
  background: transparent;
  border-color: vars.$light;
  color: vars.$black;

  &:disabled,
  &.disabled {
    background: transparent;
    opacity: 1;
    color: rgba(vars.$black, 0.2);
  }

  &:not(:disabled):not(.disabled) {
    &:hover,
    &:active,
    &:focus {
      background: transparent;
      border-color: darken(vars.$light, 15%);
    }
  }
}

// color scheme - ghost
.btn-ghost {
  border-color: vars.$white;
  color: vars.$white;

  &:disabled,
  &.disabled {
    opacity: 1;
    color: rgba(vars.$white, 0.2);
    border-color: rgba(vars.$white, 0.25);
  }

  &:not(:disabled):not(.disabled) {
    &:hover,
    &:active,
    &:focus {
      color: rgba(vars.$white, 0.65);
      border-color: rgba(vars.$white, 0.65);
    }
  }
}

// modification - link
.btn-link {
  position: relative;
  font-size: mixins.rem(list.nth(vars.$typography-sizings, 2));
  font-weight: bold;
  line-height: 1;
  letter-spacing: vars.$letter-spacing;
  padding: 0 0 mixins.rem(8);

  &,
  &:hover,
  &:active,
  &:focus {
    background: transparent;
    border: 0;
    text-decoration: none;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: currentColor;
  }
}
