//
// Footer
//

@use "bootstrap/scss/bootstrap" as bootstrap;
@use "../variables" as *;
@use "../base/mixins" as mixins;
@use "sass:map";
@use "sass:list";
@use "sass:color";

.footer {
  overflow: hidden;
}

a.footer-icon {
  color: bootstrap.$gray-500;
  line-height: 1;
  text-decoration: none;
  transition: bootstrap.$transition-base;

  > .material-icons,
  i {
    font-size: mixins.rem(24);
  }

  &:hover {
    color: color.adjust(bootstrap.$gray-500, $lightness: -15%);
  }
}

a.footer-brand {
  font-family: $font-family-base;
  font-size: mixins.rem(30);
  font-weight: bold;
  color: bootstrap.$body-color;
  text-decoration: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
}

.footer-menu {
  list-style: none;
  margin: 0 map.get($spacers, 20) / 2 * -1;
  padding: 0;
  font-size: 0;
  line-height: 1.5;

  li {
    display: inline;
  }

  a {
    display: inline-block;
    font-family: $font-family-secondary;
    text-transform: uppercase;
    font-size: mixins.rem(list.nth($typography-sizings, 1));
    letter-spacing: $letter-spacing;
    font-weight: bold;
    margin: 0 map.get($spacers, 20) / 2;
    color: $paragraph-color;
    transition: bootstrap.$transition-base;

    &:hover {
      color: color.adjust(#4a4a4a, $lightness: -25%);
    }
  }
}
