//
// Typography
//
@use "bootstrap/scss/bootstrap" as bootstrap;
@use "../variables" as *;
@use "../base/mixins" as mixins;
@use "sass:map";
@use "sass:list";

@each $breakpoint in map.keys(bootstrap.$grid-breakpoints) {
  @include bootstrap.media-breakpoint-up($breakpoint) {
    @for $size from 1 through list.length($typography-sizings) {
      $value: list.nth($typography-sizings, $size);

      $infix: if($breakpoint == xs, "", "-#{$breakpoint}");

      .fs#{$infix}-#{$size} {
        font-size: mixins.rem($value) !important;
      }

      .lh#{$infix}-#{$size} {
        line-height: mixins.rem($value) !important;
      }
    }
  }
}

.letter-spacing-caption {
  letter-spacing: $letter-spacing;
}

.letter-spacing-normal {
  letter-spacing: normal;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-family-base {
  font-family: $font-family-base;
}

.font-family-secondary {
  font-family: $font-family-secondary;
}

.text-black {
  color: $black !important;
}

.text-white-75 {
  color: rgba($white, 0.75);
}
